@model ecom.Models.ViewModel.CategoryListVM

<div class="my-3">
    <h5 class="card-title fw-bold mb-3">@Model.CategoryInfo.CategoryName</h5>
</div>

@foreach (var item in Model.ProductItems)
{
    <div class="card shadow-sm col-md-7 p-2 mb-4">
        <div class="gap-2 d-flex flex-row">
            <div>
                <img src="@item.Thumbnail" style="object-fit:cover;height:300px;width:250px;" alt="Alternate Text" />
            </div>
            <div class="card flex-grow-1 p-4">
                <div class="gap-2 h-100">
                    <h5 class="card-title fw-bold mb-3">@item.ProductItemName</h5>
                    <h6 class="card-subtitle mb-3 text-success fw-bold">$@item.UnitPrice</h6>
                    <p class="card-text text-muted">@item.Description</p>
                </div>
                <div class="text-bottom mt-3">
                    <button type="button" class="btn btn-primary btn-sm btnCart" data-pk="@item.ProductItemId" data-name="@item.ProductItemName" data-price="@item.UnitPrice">
                        <i class="fa fa-cart-plus"></i> Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
}
